* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto"
}


.calculator{
    background-color: black;
    width: 400px;
    height: 575px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 20px;
}

.calc-keyboard{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow:hidden;
}

.equal-sign {
    border-radius: 100px;
    font-size: 32px;
    width: 167px;
    flex: 1 1 1;
}

.screen-display{
    background-color: white;
    padding: 15px;
    margin: 30px;
    text-align: left;
}

.display-text{
    font-size: 32px;
    font-weight: 400;
    padding: 6px;
}

.kb-button {
    border-radius: 100px;
    aspect-ratio: 1/1;
    font-size: 32px;
    flex: 1 1 0;
}

.operation-button{
    background-color: orange;
    border: 1px black;
}

.highlighted-operation-button{
    background-color: yellow;
}

.row {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding:0 20px;
}